/* Hard reset */
html, body, div, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 */
article, aside, datagrid, datalist, details, dialog, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

/* Box sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Example */
.main {
	width: 800px;
    max-width: 100%;
    margin: auto;
	padding: 25px;
    counter-reset: modules;
}
.ffgrid_item {
	width: 30%;
    background-color: grey;
}
.ffgrid_item:after {
    counter-increment: modules;
    content: counter(modules);
    display: block;
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
}
.ffgrid_item:before {
    content: " ";
    display: block;
    padding-top: 60%;
}
.ffgrid_item-h2:before {
    padding-top: 80%;
}
.ffgrid_item-h3:before {
    padding-top: 110%;
}
.ffgrid_item-h4:before {
    padding-top: 150%;
}
